<h2>By Country</h2>
<hr>
<div class="row">
  <div class="col">
    <form 
      (ngSubmit)="handleSubmit()"
      autocomplete="off">
      <input
        class="form-control"
        type="text"
        placeholder="Enter a country..." 
        name="searchTerm"
        [(ngModel)]="searchTerm"
      >
    </form>
  </div>
</div>
<hr>

<div
  *ngIf="error"
  class="alert alert-danger" >
  {{errorMessage}}
</div>

<div
  *ngIf="countries.length > 0"
  class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> # </th>
          <th> Flag </th>
          <th> Name </th>
          <th> Region </th>
          <th> Capital </th>
          <th> Population </th>
          <th> Info </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <img src="{{ country.flags.png }}" alt="{{ country.flags.svg }}">
          </td>
          <td>{{ country.name.common }}</td>
          <td>{{ country.subregion }}</td>
          <td>{{ country.capital }}</td>
          <td>{{ country.population | number }}</td>
          <td>
            <a [routerLink]="['/country', country.cca2]">Ver mas</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>