
<div class="animate__animated animate__fadeIn">
  <h2>By Country</h2>
  <hr>
  <div class="row">
    <div class="col">
      <!-- components/search-input -->
      <app-search-input
        placeHolder="Search a country..."
        (onEnter)="handleSubmit($event)"
        (onDebounce)="getSuggestions($event)">
      </app-search-input>
    </div>
  </div>

  <ul class="list-group" *ngIf="showSuggestions">
    <a
      (click)="handleSuggestionSearch()" 
      *ngIf="searchTerm" 
      class="list-group-item list-group-item-action"
      >
      Search all countries with "{{ searchTerm | titlecase }}"
    </a>
    <li class="list-group-item list-group-item-action" *ngFor="let suggestion of suggestions">
      <a
        class="nav-link" 
        [routerLink]="['/country', suggestion.cca2]">
        {{suggestion.name.common}}
      </a>
    </li>
  </ul>
  <hr>
</div>

<div
  class="animate__animated animate__fadeIn"
  *ngIf="error"
  class="alert alert-danger" >
  {{errorMessage}}
</div>

<div
  *ngIf="countries.length > 0"
  class="row">
  <div class="col">
    <!-- components/table -->
    <app-countries-table [countries]="countries"></app-countries-table>
  </div>
</div>